@model PHT.Models.PhtModels.PloegViewModel

@{
    ViewBag.Title = "Verwijder";
}

<h2>Verwijder</h2>

<h3>Zijt ge zeker?</h3>
<div>
    <h4>Ploeg</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PintenAantal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PintenAantal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijder" class="btn btn-default" /> |
            @Html.ActionLink("Terug naar lijst", "Index")
        </div>
    }
</div>
