@model PHT.Models.PhtModels.PloegViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ploeg</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PintenAantal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PintenAantal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wijzig", "Edit", new { ploeg_ID = Model.Ploeg_ID }, null) |
    @Html.ActionLink("Terug naar lijst", "Index")
</p>
