@model IEnumerable<PHT.Models.PhtModels.PloegViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Beheer ploegen</h2>
<p>
    <a href="@Url.Action("Create", "Ploeg")">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PintenAantal)
        </th>
        <th>Acties</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PintenAantal)
        </td>
        <td>
            @Html.ActionLink("Wijzig", "Edit", new { ploeg_ID = item.Ploeg_ID }, null) |
            @Html.ActionLink("Details", "Details", new { ploeg_ID = item.Ploeg_ID }, null) |
            @Html.ActionLink("Verwijder", "Delete", new { ploeg_ID = item.Ploeg_ID }, null)
        </td>
    </tr>
}

</table>
