@model IEnumerable<PHT.Models.PhtModels.PloegViewModel>

@{
    ViewBag.Title = "Zuipbeker";
}

<table class="table">
    <tr>
        <th width="5%">
        </th>
        @if (Request.IsAuthenticated)
        {
            <th width="80%">
            </th>
            <th width="15%">
            </th>
        }
        else
        {
            <th width="95%">
            </th>
        }
    </tr>

    @for (var i = 0; i < Model.Count(); i++)
    {
        using (Html.BeginForm("EditPinten", "Ploeg", FormMethod.Post))
        {
            <tr>
                <td width="5%">
                    <div class="black">
                        @Html.DisplayFor(modelItem => modelItem.ElementAt(i).Naam)
                    </div>
                </td>
                @if (Request.IsAuthenticated)
                {
                    <td width="85%">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@Model.ElementAt(i).PintenAantal" aria-valuemin="0" aria-valuemax="2000" style="width: @Model.ElementAt(i).PintenPercentage">
                                <h5 class="black-outline">
                                    @Model.ElementAt(i).PintenAantal
                                </h5>
                            </div>
                        </div>
                    </td>
                    <th width="10%">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(modelItem => Model.ElementAt(i).Ploeg_ID)
                        @Html.HiddenFor(modelItem => Model.ElementAt(i).PintenAantal)
                        @Html.HiddenFor(modelItem => Model.ElementAt(i).Naam)
                        <div class="input-group">
                            @Html.EditorFor(modelItem => Model.ElementAt(i).PlusPinten, new { htmlAttributes = new { @class = "form-control", placeholder = "Aantal pinten.." } })
                            @Html.ValidationMessageFor(modelItem => Model.ElementAt(i).PlusPinten, "", new { @class = "text-danger" })
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </th>
                }
                else
                {
                    <td width="95%">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@Model.ElementAt(i).PintenAantal"
                                 aria-valuemin="0" aria-valuemax="2000" style="width:@Model.ElementAt(i).PintenPercentage">
                                <h5 class="black-outline">
                                    @Model.ElementAt(i).PintenAantal
                                </h5>
                            </div>
                        </div>
                    </td>
                }
            </tr>
        }
    }

</table>
