@model IEnumerable<PHT.Models.PhtModels.PloegViewModel>

@{
    ViewBag.Title = "Overzicht";
}

<table class="table">
    <tr>
        <th width="5%">
        </th>
        @if (Request.IsAuthenticated)
        {
            <th width="80%">
            </th>
            <th width="15%">
            </th>
        }
        else
        {
            <th width="95%">
            </th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td width="5%">
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            @if (Request.IsAuthenticated)
            {
                <td width="80%">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@item.PintenAantal" aria-valuemin="0" aria-valuemax="2000" style="width: @item.PintenPercentage">
                            @item.PintenAantal
                        </div>
                    </div>
                </td>
                <th width="15%">
                    @using (Html.BeginForm("Edit", "Ploeg", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Aantal pinten..">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    }

                </th>
            }
            else
            {
                <td width="95%">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@item.PintenAantal"
                             aria-valuemin="0" aria-valuemax="2000" style="width:@item.PintenPercentage">
                        </div>
                    </div>
                </td>
            }
        </tr>
    }

</table>
